<!DOCTYPE html>
<html>
<head>
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/AcesUp.css" rel="stylesheet">
<link href="/assets/css/custom.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
<head>

<body>

<div class="well"> Welcome to Ace's Up (Spanish Deck). You can win 1/20 times if you play 
  perfectly. Good Luck! </div>


<table align="center">
    <tr class="title">
        <td>Column1</td>
        <td >Column2</td>
        <td >Column3</td>
        <td >Column4</td>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td>
                <input size="1" maxlength="1" type="text" id="to_col_from_0"  />
                <button type="button" class="btn btn-primary" id="moveButtoncol0">Move</button>
        	<br>
	   </td></tr>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td><button type="button" class="btn btn-success" id="Remove1">Discard</button></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td>
                    <input size="1" maxlength="1" type="text" id="to_col_from_1"  />
                    <button type="button" class="btn btn-primary" id="moveButtonCol1">Move</button>
               <br>
	       </td></tr>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td><button type="button" class="btn btn-success" id="Remove2">Discard</button></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td>
                    <input size="1" maxlength="1" type="text" id="to_col_from_2"  />
                    <button type="button" class="btn btn-primary" id="moveButtonCol2">Move</button>
               <br>
	       </td></tr>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
		<tr><td><button type="button" class="btn btn-success" id="Remove3">Discard</button></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td>
                    <input size="1" maxlength="1" type="text" id="to_col_from_3"  />
                    <button type="button" class="btn btn-primary" id="moveButtonCol3">Move</button>
	       </td></tr>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td><button type="button" class="btn btn-success" id="Remove4">Discard</button></td></tr>
            </table>
        </td>
    </tr>
</table>

<br>
<br>
<button type="button" class="btn btn-warning" id="dealButton">Deal</button>

<button type="button" class="btn btn-danger" id="restartButton">Restart</button>

<button type="button" class="btn btn-warning" id="usButton">Play US Deck</button>
<br>
<br>
<div class="jumbotron">
      <p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=c-l57OVEphg" role="button">Learn how to play</a></p>
      </div>


<script>

var game;

function display(game) {
console.log(game);

    if(game.error == true){
        alert("Invalid move. No. Stop. Pliss.");
    }

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
        $( '#c0 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[1], function( key, val ) {
        $( '#c1 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[2], function( key, val ) {
        $( '#c2 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[3], function( key, val ) {
        $( '#c3 .l'+key ).html(val.value + val.suit);
    });



}

$.getJSON("http://localhost:8080/SPgame", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/SPdealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/SPremoveCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}


$("#Remove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/SPmoveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$("#restartButton").click(function(){
  location.reload();
});

$("#usButton").click(function(){
  window.open("acesUp", "_parent");
});

$("#moveButtoncol0").click(function(){
var colFrom = 0;
var colTo = $("#to_col_from_0").val();
var numColTo = parseInt(colTo) - 1;
$.ajax({
  type: "POST",
  url: "/SPmoveCard/"+colFrom+"/"+numColTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
$("#to_col_from_0").val('');
});

$("#moveButtonCol1").click(function(){
var colFrom = 1;
var colTo = $("#to_col_from_1").val();
var numColTo = parseInt(colTo) - 1;
$.ajax({
  type: "POST",
  url: "/SPmoveCard/"+colFrom+"/"+numColTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
$("#to_col_from_1").val('');
});

$("#moveButtonCol2").click(function(){
var colFrom = 2;
var colTo = $("#to_col_from_2").val();
var numColTo = parseInt(colTo) - 1;
$.ajax({
  type: "POST",
  url: "/SPmoveCard/"+colFrom+"/"+numColTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
$("#to_col_from_2").val('');
});

$("#moveButtonCol3").click(function(){
var colFrom = 3;
var colTo = $("#to_col_from_3").val();
var numColTo = parseInt(colTo) - 1;
$.ajax({
  type: "POST",
  url: "/SPmoveCard/"+colFrom+"/"+numColTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
$("#to_col_from_3").val('');
});


</script>



</body>
</html>
